@use '../../styles/variables' as *;

.films {
  padding: rem(40) 0;
  min-height: calc(100vh - 10rem);

  &__wrap {
    @include container;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(24);
  }

  &__title {
    font-size: rem(18);
    font-weight: 700;
    color: $color-text;

    @media (min-width: $breakpoint-sm) {
      font-size: rem(24);
    }
  }

  &__filters {
    margin-bottom: rem(40);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(12);

    @media (min-width: $breakpoint-sm) {
      gap: rem(20);
    }

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &__pagination {
    margin-top: rem(32);
  }
}
