@use '../../styles/variables' as *;

.footer {
  background: linear-gradient(154deg, #ebeef9 10.83%, #ebeef1 50.03%, #f6f1ef 89.24%);
  padding: rem(24) 0;

  &__wrap {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);

    @media (min-width: $breakpoint-md) {
      align-items: flex-end;
    }
  }

  &__copyright {
    font-size: rem(16);
    color: rgba($color-text, 0.6);
    line-height: 1.5;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
    justify-content: center;

    @media (min-width: $breakpoint-sm) {
      gap: rem(18);
    }

    a {
      font-size: rem(16);
      color: rgba($color-text, 0.6);
      line-height: 1.5;
      transition: color 0.2s;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__nav-link--active {
    color: $color-primary !important;
  }

  &__tmdb {
    display: flex;
    align-items: center;
    gap: rem(8);
    margin-top: rem(8);
    transition: opacity 0.2s;

    span {
      font-size: rem(12);
      color: rgba($color-text, 0.5);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
