@use '../../styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  &__poster {
    width: 100%;
    aspect-ratio: 2 / 3;
    background: $color-gray;
    border-radius: 12px;
  }

  &__info {
    padding: 12px 0 0;
  }

  &__line1 {
    height: 14px;
    width: 80%;
    background: $color-gray;
    border-radius: 4px;
    margin-bottom: 6px;
  }

  &__line2 {
    height: 12px;
    width: 50%;
    background: $color-gray;
    border-radius: 4px;
  }
}
